.usersBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
}

.search input{
    padding: 9px 0 7px 8px;
    font-size: 12px;
    width: 260px;
    border: 0;
    background-color: #c9c8c8;
    border-radius: 5px;
}
.search:hover{
    box-shadow: none;
}